div {
    max-width: 600px;
    height: 900px;
    margin: 10px;
    padding: 15px;
    background-color: aqua;
    border-radius: 30px;
    border: 4px solid rgb(247, 165, 179);
}
h1 {
    color: blue;
    background-color: pink;
    border: 3px solid red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}
.one {
    max-width: 100%;
    height: 500px;
    padding: 5px;
    border: 2px solid rgba(51, 43, 43, 0.027);
}
img {
    width: 5oopx;
    height: 500px;
    padding: 5px;
    border: 2px solid rgba(109, 88, 88, 0.027);
}
